
#amanha{
	display: none;
}
body{
	font-family: Arial, Helvetica, sans-serif;
    background: rgb(10, 9, 9); 
}
#logo{
	margin-left:150px ;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
}
#cabecario{
   	border-bottom: 1px solid grey;
	text-align: right;
    color: white;
    height: 80px;
   
}
#cabecario ul li a{
	
	color: white;
	
}
#cabecario ul li a:hover{
	 
	color: gold;
	transition: 0.5s;
	opacity: 1; 
}

#cabecario1{
display: inline-block;
}


header ul{
	margin-right: -25px; ;
	
}
header ul li{
	
padding: 0 25px 0 0px;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
   
	
}
/* Dropdown Button */
.dropbtn {
	background-color: rgb(10, 9, 9);
	color: white;
	padding: 16px;
	font-size: 25px;
	border: none;
	
	
  }
  .dropdown-content a:hover{
	color: gold;
	transition: 0.5s;
	opacity: 1;
	
  }
 
 
  button a:hover{
	color: gold; 
	transition: 0.5s;	
	opacity: 1;
	
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	text-align: left;
	position: relative;
	display: inline-block;
	
	margin-right: 150px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 170px;
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
	
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index: 0;
	font-family: Arial, Helvetica, sans-serif;
	
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: black; color: gold;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; z-index: 1;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: black;}




*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/
#mes{
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 150px 0 220px;

}

.CSSgal {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
	
	margin: 0 150px 0 150px;
}

/* SLIDER */

.CSSgal .slider {
	
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 0;
	top: 50%;
	width: 100%;
	height: 0;
	
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	color: blue;
	background: white;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 40px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.3;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 0.7;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}

/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
	
}
.CSSgal .slider h2 {
	
	padding-top: 20px;
	letter-spacing: -0.03em;
	word-spacing: 0.5em;
	font-size: 19px;
   padding-bottom: 30px;
   
}
.CSSgal a {

	border: 1px solid white;
	border-radius: 50%;
	margin: 0 3px;
	color: white;
	text-decoration: none;
}
.CSSgal a:hover {
	color: white;
	transition: 0.2s;
	border: 1px solid rgb(255, 255, 36);
		
	
}
.CSSgal h2 a{
	
		border: 1px solid grey;
		padding: 20px 40px 20px 40px;
		border-radius: 10px;
		margin: 0 3px;
		color: white;
		
		
}


a{
	color: white;
   text-decoration: none;
}

#titulo{
	
	border-top: 1px solid grey;
	padding-top: 30px;
	color: white;
	padding-bottom: 25px;
}
#titulo h2{
	margin:  0 150px 0 150px;
	font-size: 20px;
	padding-bottom: 5px;
}
#titulo p{
	margin:  0 150px 0 150px;
	opacity: 0.5;
	padding-bottom: 10px;
}
.titulo-tabela{
	
	margin-left: 20px ;
	color: white;
}
.titulo-tabela img{
	margin-top: 25px;
	width: 50px;
	float: left;
	border-radius: 50%;

}
.titulo-tabela h3{
	margin-top: 25px;
	padding-left: 70px;
	font-size: 20px;
	padding-bottom: 5px;
}
.titulo-tabela p{
	padding-left: 60px;
	opacity: 0.5;

}


.tabela{
	background: rgb(10, 9, 9);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 218px; /*403*/
	height: 150px;
	color: white;
	float: left;
	margin-left: 20px ;
	border-right: 1px solid white;
}

.img{
	width: 35px;
	height: 30px;
	vertical-align: middle;
}
.tabela-jogos tr td{
	
	font-size: 18px;
	padding: 25px 12px 5px 12px;
	

	

}
.placar{
	text-align: center;
	
	
	
}
.tabela-data{
	padding-top: 50px;

	text-align: center;
	
    float: left;
	background: rgb(10, 9, 9);
	width: 188px;
	border-top-right-radius: 10px ;
	height: 150px;
	border-bottom-right-radius: 10px;
	
}

ul li{
	color: #fff;
	
}
.titulo-tabela{
	padding-bottom: 15px;
	clear: left;
	padding-top: 5px;
    
}

.jogo1{
padding-left: 395px;
}
.jogo2{
	padding-left: 790px;
	
}





div#body{
	margin: 0 150px 0 150px;
	background: rgb(24, 24, 24);
	height: 150%;
	border-radius: 10px;

	

}



  .site-footer
{
  background-color:#000000;
  padding:35px 150px 20px 150px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
	
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:rgba(255, 217, 0, 0.644);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgba(255, 217, 0, 0.644);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



@media screen and (max-width: 1320px){
	
	a.joca{
		display: none;
	}
    li#zequinha{
      display: none;
    }
    body{
      background-color: rgb(10, 9, 9);
    }
    #logo{
      margin-left:0 ;
      height: 15px;
      vertical-align: middle;
      display: inline-block;
    }
    #cabecario{
      border-bottom: 1px solid grey;
     text-align: right;
     color: white;
     height: 80px;
    }
    #cabecario ul li a{
        color: white;  
    }
    #cabecario ul li a:hover{
        color: rgb(255, 255, 0);
        transition: 0.5s;
        opacity: 1;
    }
    #cabecario1{
        display: inline-block;
    }

    div#body{
		margin: 0 100px 50px 100px;
		background: rgb(24, 24, 24);
		height: 150%;
		border-radius: 10px;
	}

  header ul{
    margin-right: 0;
}

header ul li{
    padding: 10px;
    font-size: 22px;
    font-style: normal;
    display: inline-block;
    
}
/* Dropdown Button */
.dropbtn {
	background-color: rgb(10, 9, 9);
	color: white;
	padding: 0;
	font-size: 22px;
	border: none;
	
  }
  .dropdown {
    text-align: left;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 75px;
    margin-top: 20px;
    }
	.CSSgal .slider h2{
		padding-bottom: 0;
		padding-top: 30px;
		margin-bottom: 0;
	}
	.CSSgal .prevNext{
		top: 50%;
	}
	.CSSgal{
		padding: 0;
	}
	.CSSgal .slider{
		height: 85px;
	}
	#amanha{
		display: inline;

	}
	
	
	
	
	
}






